<div class='modal-header'>
  <h5>{{identity}} 筆記</h5>
</div>
<div class='modal-body'>
	
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td>日期</td>
						<td>
							
							<select ng-model="selectYear.val" ng-change="changeDate(selectYear.val,selectMounth.val)"
									ng-options="opt.val as opt.val for opt in yearList"></select>
							<label>年</label>
							<select ng-model="selectMounth.val" ng-change="changeDate(selectYear.val,selectMounth.val)"
									ng-options="opt.val as opt.val for opt in mounthList"></select>
							<label>月</label>
							<select ng-model="selectDay.val" ng-change="changeDate(selectYear.val,selectMounth.val)"
									ng-options="opt.val as opt.val for opt in dayList"></select>
							<label>日</label>
							
						</td>
					</tr>
					<tr>
						<td>上課時間</td>
						<td>
							<select ng-model="selectTime.val" ng-options="opt.start_time as opt.start_time for opt in timeList"></select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>
<div class='modal-footer'>
  <button class='btn btn-default' data-ng-click='enter()'>確認</button>
  <button class='btn btn-default' data-ng-click='$dismiss()'>退出</button>
</div>