<style>
.page-title-box {
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.03);
  padding: 20px;
  margin:0px 0px 20px 0px;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 5px;
}
.page-title-box .breadcrumb {
  margin-top: 0px;
  padding-top: 2px;
}
.card-box {
  padding: 20px;
  background-color:#00ff00;
}
.font{
	font-family: Microsoft JhengHei;
}
</style>

<div ng-init="loadEvents()">
<div class="row">
<div class="page-title-box">
	<ol class="breadcrumb pull-right">
		<li>課的定義</li>
		<li class="active">{{ title_name }}課程</li>
	</ol>
	<h4 class="page-title font">{{ title_name }}課程</h4>
</div>
 <form class=" " >
	<div class="col-md-6 mb-3">
	    <div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">課程名稱</span>
			    <input required type="text" class="form-control" ng-model="addClass.name">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">課程類型</span>
				<select class="form-control" ng-model="addClass.type"
					ng-options="opt.type as opt.name for opt in typeList">
<!-- 					<option value="">請選擇</option> -->
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">老師</span>
			    <input required type="text" class="form-control" ng-model="addClass.teacher_name">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">課堂總數</span>
			    <input required type="text" class="form-control" ng-model="addClass.summary">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">目前上課次數</span>
			    <input required type="text" class="form-control" ng-model="addClass.count">
			</div>
		</div>
	</div>
	
	<div class="col-md-6 mb-3">
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">上課地點</span>
			    <input required type="text" class="form-control" ng-model="addClass.place">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">課程等級</span>
<!-- 			    <select class="form-control" > -->
<!-- 				  <option value="0">入門班</option> -->
<!-- 				  <option value="1">基礎班</option> -->
<!-- 				  <option value="2">進階班</option> -->
<!-- 				</select> -->
				<select class="form-control" ng-model="addClass.level"
					ng-options="opt.level as opt.name for opt in levelList">
<!-- 					<option value="">請選擇</option> -->
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">學生</span>
			    <input required type="text" class="form-control" ng-model="addClass.student_name">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">課程開啟時間</span>
			    <input required type="text" class="form-control" ng-model="addClass.s_date">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			    <span class="input-group-addon">課程狀態</span>
			    <input required type="text" class="form-control" ng-model="addClass.status">
			</div>
		</div>
	</div>
	
	<div class="col-md-12 ">
		<div class="form-group text-center m-t-20">
		<button type="button" class=" btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" ng-click="insertClass()">
			新增
		</button>
		<button type="button" class=" btn btn-error btn-lg btn-block text-uppercase waves-effect waves-light" ng-click="ibackToClass()">
			取消
		</button>
		</div>
	</div>
	</form>
</div>
</div>
