
<style>
.page-title-box {
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.03);
  padding: 10px;
  margin:0px 0px 5px 0px;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 5px;
}
.page-title-box .breadcrumb {
  margin-top: 0px;
  padding-top: 2px;
}
.card-box {
  padding: 20px;
  background-color:#00ff00;
}
.font{
	font-family: Microsoft JhengHei;
}
</style>
<script type="text/javascript">  
var data = [{ id: 0, text: '韋小寶' }, { id: 1, text: '滅絕師太' }, { id: 2, text: '安安' }, { id: 3, text: '土豆S' }];
	 
    $('#test').select2({
    	data: data,
    	  placeholder:'請選擇',
    	  allowClear:true
    });  


</script>
<div ng-init="loadEvents()">
<div class="row">
<div class="page-title-box">
	<ol class="breadcrumb pull-right">
		<li>基本資料</li>
		<li class="active">基本資料清單</li>
	</ol>
	<h4 class="page-title font">基本資料清單</h4>
</div>
	<div class="row page-title-box">
	<div class="col-md-12 ">
	  <div class="col-xs-2">
	   
	  </div>
	  <div class="col-xs-4">
	    <div class="input-group">
		    <span class="input-group-addon">會員編號</span>
		    <input  type="text" class="form-control" ng-model="memQuery.person_id" style="height: 28px;">
		</div>
		
		<div class="input-group" style="margin-top:15px;">
		    <span class="input-group-addon">姓名</span>
	<!--	   <input  type="text" class="form-control" ng-model="memQuery.name">   -->
		    <select class="form-control" id="test" name="type" >  
                            <option value="" data-name="">韋小寶 </option>  
                            <option value="" data-name="">滅絕師太</option>  
                            <option value="" data-name="">安安</option>
                            <option value="" data-name="">韋小寶 </option>  
                            <option value="" data-name="">滅絕師太</option>  
                            <option value="" data-name="">安安</option>  <option value="" data-name="">韋小寶 </option>  
                            <option value="" data-name="">滅絕師太</option>  
                            <option value="" data-name="">安安</option>  <option value="" data-name="">韋小寶 </option>  
                            <option value="" data-name="">滅絕師太</option>  
                            <option value="" data-name="">安安</option>  <option value="" data-name="">韋小寶 </option>  
                            <option value="" data-name="">滅絕師太</option>  
                            <option value="" data-name="">安安</option>    
            </select>  
		</div>
	  </div>
	  <div class="col-xs-4">
	    <div class="input-group" >
		    <span class="input-group-addon">電話</span>
		    <input  type="text" class="form-control" ng-model="memQuery.phone" style="height: 28px;">
		</div>
		<div class="input-group" style="margin-top:15px;">
		    <span class="input-group-addon">Email</span>
		    <input  type="text" class="form-control" ng-model="memQuery.email" style="height: 28px;">
		</div>
	  </div>
	  
	  <div class="col-xs-2 ">
	  	<div style="margin-top:35px;">
	  	<button type="button" class="btn btn-warning"  ng-click="query()">查詢</button>
	  	</div>
	  </div>
	 </div>
	</div>
	<div class="row ">
	  <div class="col-md-12" style="padding-left:32px"> 
		<button type="button" class="btn btn-info" ng-click="tranToInsertMem()">
		  <span class="glyphicon glyphicon-plus" style="color:white"></span> 新增
		</button>
	  </div>
	</div>
	<div class="col-md-12 ">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">會員編號</th>
		      <th scope="col">姓名</th>
		      <th scope="col">電話</th>
		      <th scope="col">Email</th>
		      <th scope="col">操作</th>
		    </tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="row in memList">
		      <td>{{ $index + 1 }}</td>
		      <td>{{ row.person_id }}</td>
		      <td>{{ row.name }}</td>
		      <td>{{ row.phone }}</td>
		      <td>{{ row.email }}</td>
		      <td><button type="button"  class="btn btn-info" ng-click="update(row)">修改</button></td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="col-md-12 ">
	<nav aria-label="Page navigation example" style="text-align:center">
	  <ul class="pagination justify-content-end">
	    <li class="page-item" ng-class="{disabled : theFirstPage}">
	      <a class="page-link" tabindex="-1" ng-click="preClick()">Previous</a>
	    </li>
	    <li class="page-item" ng-repeat="page in pageSize">
	    	<a class="page-link" ng-click="changePage(page.page)">{{ page.page }}</a>
    	</li>
	    <li class="page-item" ng-class="{disabled : theLastPage}">
	      <a class="page-link" ng-click="nextClick()">Next</a>
	    </li>
	  </ul>
	</nav>
	</div>
</div>
</div>