body { 
	font-family: 微軟正黑體; 
}
.drawer-header {
    -webkit-padding-start: 24px;
    align-items: center;
	border-bottom:#DDDDDD 1px solid;
    display: flex;
    font-size: 123.08%;
    min-height: 56px;
    outline: none;
}
.drawer-item {
    align-items: center;
    color: #666666;
    display: flex;
    font-weight: 500;
    min-height: 20px;
    font-size: 115%;
    padding-bottom: 15px;
    padding-left:25px;
    text-decoration:none;
 
    padding-top: 15px;
}
.glyphicon-2{
	margin-right:35px;
}
a:hover{
    text-decoration:none;
}
.menu-buttom{
	align-items: center;
	display: flex;
	font-weight: 500;
	min-height: 20px;
    font-size: 140%;
	padding-bottom: 15px;
    padding-left:25px;
    color: white;
    text-decoration:none;
    padding-top: 15px;
    cursor:pointer;
}
.glyphicon-3{
	margin-right:15px;
}
.row{
	  margin-right: 0px; 
      margin-left: 0px; 
}
.btnSel{
	color:#0066FF;
}