<div class="row" >

	<div class="col-sm-2">
		<ul class="example-animate-container">
			<li class="animate-repeat" ng-repeat="note in history" ng-click="historyClick(note)">
		    	[{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
		    </li>
			<li class="animate-repeat" ng-if="results.length === 0">
		    	<strong>No results found...</strong>
		    </li>
		</ul>
	</div>
	<div class="col-sm-5">
		<textarea ng-model="studentNote"></textarea>
	</div>
	<div class="col-sm-5">
		<textarea ng-model="teacherNote"></textarea>
	</div>

</div>
<div class='modal-footer'>
  <button class='btn btn-default' data-ng-click='enter()'>確認</button>
  <button class='btn btn-default' data-ng-click='$dismiss()'>退出</button>
</div>