<div class='modal-header'>
  <h4 style="font-family:Microsoft JhengHei;">歷史課程</h4>
</div>
<div class="row" >
	<div class="col-sm-2">
		<div class="list-group">
			<button style="color:#0044BB" type="button" class="list-group-item list-group-item-action " ng-repeat="note in history" ng-click="historyClick(note)">{{ note.date }} {{ note.time }} </button>
		</div>
	</div>
	<div class="col-sm-5">
		<table class="table" style="margin:0px 0px 0px 5px">
			 <tr>
		      <th></th>
		      <th>學生筆記 :</th>
		     </tr>
		     <tbody>
		     	<tr>
		     		<td>•</td>
		     		<td ng-model="studentNote"></td>
		     	</tr>
		     	<tr>
		     		<td>•</td>
        			<td>Dooley</td>
        		</tr>
		     </tbody>
		</table>
	</div>
	<div class="col-sm-5">
		<table class="table" style="margin:0px 5px 0px 0px">
			 <tr>
		      <th></th>
		      <th>老師筆記 :</th>
		     </tr>
		     <tbody>
		     	<tr>
		     		<td>•</td>
		     		<td ng-model="teacherNote"></td>
		     	</tr>
		     	<tr>
		     		<td>•</td>
        			<td>Dooley</td>
        		</tr>
		     </tbody>
		</table>
	</div>
</div>
<div class="row" >

	<div class="col-sm-2">
		<ul class="example-animate-container">
			<li class="animate-repeat" ng-repeat="note in history" ng-click="historyClick(note)">
		    	{{ note.date }} {{ note.time }} 
		    </li>
			<li class="animate-repeat" ng-if="results.length === 0">
		    	<strong>No results found...</strong>
		    </li>
		</ul>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label >學生筆記 :</label>
			<textarea class="form-control" rows="10" cols="20" ng-model="studentNote"></textarea>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label >老師筆記 :</label>
			<textarea class="form-control" rows="10" cols="20" ng-model="teacherNote"></textarea>
		</div>
	</div>

</div>

<div class='modal-footer' style="font-family:Microsoft JhengHei;">
  <button class='btn btn-default' data-ng-click='enter()'>確認</button>
  <button class='btn btn-default' data-ng-click='$dismiss()'>退出</button>
</div>