<div class='modal-header'>
  <h5>歷史課程</h5>
</div>
<div class="row" >

	<div class="col-sm-2">
		<ul class="example-animate-container">
			<li class="animate-repeat" ng-repeat="note in history" ng-click="historyClick(note)">
		    	{{ note.date }} {{ note.time }} 
		    </li>
			<li class="animate-repeat" ng-if="results.length === 0">
		    	<strong>No results found...</strong>
		    </li>
		</ul>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label >學生筆記 :</label>
			<textarea class="form-control" rows="10" cols="20" ng-model="studentNote"></textarea>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label >老師筆記 :</label>
			<textarea class="form-control" rows="10" cols="20" ng-model="teacherNote"></textarea>
		</div>
	</div>

</div>
<div class='modal-footer'>
  <button class='btn btn-default' data-ng-click='enter()'>確認</button>
  <button class='btn btn-default' data-ng-click='$dismiss()'>退出</button>
</div>